.footer {
	&__content {
		width: 100%;
		max-width: $width_content - 2 * $padding_content;
	}

	&__news {
		background-color: rgba(0, 0, 0, 0.2);
	}
	&__content {}
	&__rights {}
	&__links {
		p {
			width: 90px;
		}
	}
	&__socials {}
	&__contact {
		&__contact-link {
			
		}
	}
	@media screen and (max-width: 767px) {
		&__links {
			justify-content: center;
		}
	}
}