.footer {
	&__content {
		width: 100%;
		max-width: $width_content - 2 * $padding_content;
	}

	&__news {
		background-color: rgba(0, 0, 0, 0.2);

		p {
			height: 40px;
			font-size: 22px;
			line-height: 26px;
			letter-spacing: 0.846154px;
		}

		input {
			width: 100%;
			max-width: 250px;
			height: 40px;
		}

		button {
			width: 150px;
			height: 40px;
			box-sizing: border-box;
			color: #ffffff;
			font-size: 13px;
			letter-spacing: 0.5px;
			background-color: #00A4E5;
		}

		button:hover {
			background-color: #08729c;
		}

		input,
		button {
			border-radius: 0 !important;
		}
	}

	&__content {}

	&__rights {}

	&__links {
		p {
			width: 90px;
		}
	}

	&__socials {}

	&__contact {}

	@media screen and (max-width: 767px) {
		&__links {
			justify-content: center;
		}

		&__socials-content {
			justify-content: center;
		}
	}
}