.header {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	position: relative;
	&__image {}
	&__content {}
	&__logotype {}
	&__logo {}
	&__text {}
	&__button {
		border-width: 0;
	}
	&__button-content {
		border-width: 0;
	}
}

.btn {
	--bs-btn-border-width: 0px;
}