.navbar {
	width: 100%;
	max-width: $width_content - 2 * $padding_content;

	a {
		font-size: 12px;
		line-height: 14px;
		letter-spacing: 1.09091px;
		color: #48555B !important;
	}

	a:hover {
		color: #00A4E5 !important;
	}
}