@import "tools/_nulling.scss";
@import "tools/_bootstrap.scss";
@import "tools/_variables.scss";
@import "tools/_modal.scss";
@import "tools/_fonts.scss";

@import "sections/header.scss";
@import "sections/navbar.scss";
@import "sections/about.scss";
@import "sections/services.scss";
@import "sections/contact.scss";
@import "sections/footer.scss";

html,
body {
	scroll-behavior: smooth;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: 400;
	margin: auto;
	overflow-x: hidden;
}

main {
	margin: 0px auto 0px auto;
}